@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

@model ShoeWeb.Areas.Customer.CustomerVM.ForgotPasswordViewModel

<div class="form-container" style="height: 600px;">
    <h2>Forgot Password</h2>
    @using (Html.BeginForm("ForgotPassword", "User", new { area = "Customer" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.NewPassword, "Mật khẩu mới")
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword, "Nhập lại mật khẩu mới")
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    }
</div>

<style>
    .form-container {
        height: 600px; /* Thiết lập chiều cao */
    }

    button[type="submit"] {
        display: block;
        visibility: visible;
    }
</style>
