﻿@{
    ViewBag.Title = "Index";
}

@model ShoeWeb.Areas.Admin.Admin_ViewModel.ProductVM
<div class="p-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        <i class="bi bi-plus-circle-fill"></i> Thêm sản phẩm mới
    </button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm danh mục mới</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="AddProduct" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="InputName" class="form-label">Tên sản phẩm</label>
                            <input name="name" type="text" class="form-control" id="InputName">
                        </div>
                        <div class="mb-3">
                            <label for="InputDescription" class="form-label">Mô tả</label>
                            <input name="description" type="text" class="form-control" id="InputDescription">
                        </div>
                        <div class="mb-3">
                            <label for="InputQuantity" class="form-label">Số lượng</label>
                            <input name="quantity" type="number" class="form-control" id="InputQuantity">
                        </div>
                        <div class="mb-3">
                            <label for="InputPrice" class="form-label">Giá tiền</label>
                            <input name="price" type="number" step="0.01" class="form-control" id="InputPrice">
                        </div>
                        <div class="mb-3">
                            <label for="InputImage" class="form-label">Giá tiền</label>
                            <input type="file" id="InputImage" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="categorySelect" class="form-label">Danh mục</label>
                            <select id="categorySelect" class="form-select" name="categoryId">
                                <option value="">Chọn danh mục</option>
                                @foreach (var category in Model.categories)
                                {
                                    <option value="@category.cateId">@category.cateName</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="brandSelect" class="form-label">Thương hiệu</label>
                            <select id="brandSelect" class="form-select" name="brandId">
                                <option value="">Chọn thương hiệu</option>
                                @foreach (var brand in Model.brands)
                                {
                                    <option value="@brand.brandId">@brand.brandName</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="sizeSelect" class="form-label">Kích cỡ</label>
                            <select id="sizeSelect" class="form-select" name="sizeId">
                                <option value="">Chọn kích cỡ</option>
                                @foreach (var size in Model.sizes)
                                {
                                    <option value="@size.sizeId">@size.numberSize</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="originSelect" class="form-label">Xuất xứ</label>
                            <select id="originSelect" class="form-select" name="originId">
                                <option value="">Chọn xuất xứ</option>
                                @foreach (var origin in Model.origins)
                                {
                                    <option value="@origin.idOrigin">@origin.nameCountry</option>
                                }
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" onclick="AddProduct()">Thêm</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<form id="uploadForm" enctype="multipart/form-data">

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả sản phẩm</th>
                <th scope="col">Số lượng sản phẩm</th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col">Ảnh sản phẩm</th>
                <th scope="col">Quản lý danh mục</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr id="viewRow-@item.productId">
                    <th scope="row">@item.productId</th>
                    <td>@item.productName</td>
                    <td>@item.productDescription</td>
                    <td>@item.quantity</td>
                    <td>@item.price.ToString("#,##0.##")</td>
                    <td><img src="@item.image" alt="Ảnh sản phẩm" width="120" /></td>
                    <td scope="col">

                        <button id="edit" type="button" class="btn btn-secondary" onclick="editItem(@item.productId)">
                            <i class="bi bi-pencil-square"></i> Sửa
                        </button>
                        <button id="delete" type="button" class="btn btn-danger" onclick="deleteProduct(@item.productId)">
                            <i class="bi bi-trash"></i> Xóa
                        </button>
                    </td>
                </tr>
                <tr id="editRow-@item.productId" style="display:none;" >
                    <th scope="row">@item.productId</th>

                    <td>
                        <input type="text" id="ProductName-@item.productId" value="@item.productName" class="form-control">
                    </td>
                    <td>
                        <input type="text" id="ProductDescription-@item.productId" value="@item.productDescription" class="form-control">
                    </td>
                    <td>@item.quantity</td>
                    <td>@item.price.ToString("#,##0.##")</td>
                    <td>
                        <input type="file"   id="ProductImage-@item.productId" value="@item.image" class="form-control">
                    </td>
                    <td scope="col">
                        <button type="button" id="save" class="btn btn-secondary" onclick="updateProduct(@item.productId)">
                            <i class="bi bi-save"></i> Lưu
                        </button>
                        <button type="button" id="cancel" class="btn btn-danger" onclick="cancelEdit(@item.productId)">
                            <i class="bi bi-x-circle"></i> Hủy
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>


</form>



