
@{
    ViewBag.Title = "ConfirmOtp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .form-group {
        border: 1px solid #ccc; /* Đường viền mỏng màu xám */
        border-radius: 8px; /* Bo góc nhẹ */
        padding: 10px; /* Thêm padding xung quanh nội dung trong form */
        box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước tổng thể */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
        width: 500px; /* Đặt chiều rộng cố định cho form */
        margin: 50px auto; /* Căn giữa form theo chiều ngang, và thêm khoảng cách trên dưới */
    }
</style>

<div class="small-container">



    <form action="@Url.Action("ConfirmOtp", "Admin", new { area = "Admin" })" method="post">
        @Html.AntiForgeryToken()
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <div class="form-group">
            <label for="exampleInputEmail1">Nhập mã OTP để xác nhận tài khoản</label>
            @if (Model == null)
            {
                <input type="text" value="" name="otpCode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your OTP">
            }
            else
            {
                <input type="text" value="" name="otpCode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your OTP">
            }
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>

    <form action="@Url.Action("ResendOtp", "Admin", new { area = "Admin" })" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <button type="submit" class="btn btn-secondary">Gửi lại mã OTP</button>
        </div>
    </form>
</div>

