
@model ShoeWeb.Areas.Admin.Admin_ViewModel.CategoryVM
<div class="p-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        <i class="bi bi-plus-circle-fill"></i> Tạo danh mục mới
    </button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm doanh mục mới</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="InputName" class="form-label">Tên danh mục</label>
                            <input name="name" type="text" class="form-control" id="InputName">
                        </div>
                        <div class="mb-3">
                            <label for="InputDescription" class="form-label">Mô tả</label>
                            <input name="description" type="text" class="form-control" id="InputDescription">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" onclick="Add()">Thêm</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên danh mục</th>
            <th scope="col">Mô tả danh mục</th>
            <th scope="col">Quản lý danh mục</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.categories)
        {
            <tr id="viewRow-@item.cateId">
                <th scope="row">@item.cateId</th>
                <td>@item.cateName</td>
                <td>@item.cateDescription</td>
                <td scope="col" id="manage">

                    <button id="edit" type="button" class="btn btn-secondary" onclick="editItem(@item.cateId)">
                        <i class="bi bi-pencil-square"></i> Sửa
                    </button>
                    @*<button id="delete" type="button" class="btn btn-danger" onclick="deleteItem(@item.cateId)">
                            <i class="bi bi-trash"></i> Xóa
                        </button>*@
                </td>
            </tr>
            <tr id="editRow-@item.cateId" style="display:none;">
                <th scope="row">@item.cateId</th>
                <td>
                    <input type="text" id="categoryName-@item.cateId" value="@item.cateName" class="form-control">
                </td>
                <td>
                    <input type="text" id="categoryDescription-@item.cateId" value="@item.cateDescription" class="form-control">
                </td>
                <td scope="col" id="manage">
                    <button type="button" id="save" class="btn btn-secondary" onclick="updateItem(@item.cateId)">
                        <i class="bi bi-save"></i> Lưu
                    </button>
                    <button type="button" id="cancel" class="btn btn-danger" onclick="cancelEdit(@item.cateId)">
                        <i class="bi bi-x-circle"></i> Hủy
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    function Add() {
        var Name = document.getElementById(`InputName`).value;
        var Description = document.getElementById(`InputDescription`).value;

        if (confirm("Bạn có chắc muốn thêm mục này không?")) {
            $.ajax({
                url: '/Admin/Category/AddCategory',
                type: 'POST',
                data: {
                    description: Description,
                    name: Name
                },
                success: function (result) {
                    if (result.success) {
                        updateCategoryList(result.categories);
                        $('#exampleModalCenter').modal('hide');
                        $('.modal-backdrop').remove();
                    } else {
                        alert("Thêm thất bại!");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Có lỗi xảy ra!" + status);
                }
            });
        }
    }
</script>
